<meta name="color-scheme" content="light dark" />
<ion-content class="contenido">
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button color="dark" shape="round" (click)="goBack()">
      <ion-icon name="arrow-back" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <br><br><br><br>
  <h1>Añade tu <a>Locación</a></h1>
  <h4>Puede editar esto más adelante en la configuración de su  <a>cuenta.</a></h4>
  <br><br>

    <br><br>

    <div class="map-container">
      <div id="map"></div>
    </div>
    <ion-item>
      <ion-label position="stacked" id="address-label">Dirección</ion-label>
    </ion-item>


</ion-content>
