<ion-content>
<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" class="custom-button">
      <i class="fa-solid fa-house"></i>

    </ion-tab-button>
    <ion-tab-button tab="chatbot" class="custom-button">
      <i class="fa-solid fa-message"></i>


    </ion-tab-button>
    <ion-tab-button tab="library" class="custom-button">
      <i class="fa-solid fa-heart"></i>


    </ion-tab-button>
    <ion-tab-button tab="search" class="custom-button">
      <i class="fa-solid fa-user"></i>

    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>
