<meta name="color-scheme" content="light dark" />
<ion-content class="contenido">
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button color="dark" shape="round" (click)="goBack()">
      <ion-icon name="arrow-back" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <body>
    <br><br><br><br><br><br><br>
   <h1>Olvidaste tu <a>Contraseña?</a></h1>
   <h4>Ingresa tu direccion de <a>
    correo electronico</a></h4>
  <br><br>
<br>
<br>
<div class="ancho">
  <ion-input class="rounded-input" placeholder="Correo" type="email" [(ngModel)]="email">
    <ion-icon name="envelope" slot="start" class="fa-sharp fa-regular fa-envelope"> </ion-icon>
    <ion-label ></ion-label>
  </ion-input>

</div>
<br>
<br>
<br><br> <br><br><br><br><br>
<div class="centro">
  <button class="rectangle2" (click)="forgotPassword()">
  Generar nueva contraseña
</button>
</div>


</body>
</ion-content>

